.breadcrumb {
  background: #605C5C;
  color: #fff;
  @include list-reset;
  line-height: 16px;
  @include fz(12px);
  font-weight: bold;
  padding: 7px 1.8em;
  li {
    display: inline;
    vertical-align: top;
    + li::before {
      content: '\E901';
      font-family: 'w18013' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      margin: 0 0.5em 0 0.3em;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  li:first-child {
    a {
      color: $brand-primary;
      @include fz(13,12);
    }
  }
}
@media (min-width: $screen-sm-min) {
  .breadcrumb {
    li {
      a:hover {
        color: $brand-primary2;
      }
    }
  }
}
@media (min-width: $screen-md-min) {
  .breadcrumb {
    position: fixed;
    z-index: 180;
    top: 0;
    left: 218px;
    right: 0;
    padding: 0 1.8em;
    line-height: 36px;
    height: 36px;
    @include one-line;
  }
}
