.btn {
  @include btn-reset;
  transition: 0.3s;
  &:hover {
    text-decoration: none;
  }
  &-primary,
  &-default {
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid $brand-primary5;
    padding: 0 1em 0 1.2em;
    margin: 5px;
    min-width: 8em;
    line-height: 3em;
    letter-spacing: 0.2em;
  }
  &-default {
    &:hover {
      background: $brand-primary5;
      color: #fff;
    }
  }
  &-primary {
    border-color: $brand-primary;
    background: $brand-primary;
    color: #fff;
    &:hover {
      background: $brand-primary2;
      border-color: $brand-primary2;
    }
  }
  &-simple {
    color: $text-color;
    font-weight: bold;
    letter-spacing: 0.1em;
    background: $brand-primary4;
    padding: 0.6em 3.4em 0.6em 1.2em;
    border-radius: 4px;
    min-width: 19em;
    position: relative;
    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 12px;
      border-color: transparent transparent transparent #fff;
      position: absolute;
      right: 1.2em;
      top: 50%;
      margin-top: -5px;
    }
  }
}
.btn-box {
  text-align: center;
  padding-top: 2.5em;
  margin: 0 -5px;
}
@media (min-width: $screen-sm-min) {
  .btn {
    &-primary,
    &-default {
      @include fz(15px);
      min-width: 10em;
    }
    &-simple {
      @include fz(20px);
      border-radius: 10px;
      &:hover {
        background: $brand-primary;
        color: #fff;
      }
    }
  }
}
@media (min-width: $screen-md-min) {
  .btn {
    &-primary,
    &-default {
      @include fz(16px);
      min-width: 180px;
      line-height: (50 / 16);
    }
    &-simple {
      @include fz(24px);
    }
  }
}
@media (min-width: $screen-lg-min) {
}
