.field {
  display: block;
  width: 100%;
  height: 47px;
  padding: 0 1em;
  border: 1px solid $input-border;
  margin-bottom: $input-mb;
  border-radius: 5px;
  &:focus {
    outline: none;
    border-color: $input-border-focus;
  }
  @include field-placeholder {
    color: $input-color-placeholder;
  }
}
textarea.field {
  height: 200px;
  line-height: 1.4;
  padding: 0.8em 1em;
}
.static-field {
  padding: 0.7em 1em;
  min-height: 56px;
  margin-bottom: $input-mb;
}
.hint,
.alert {
  margin-bottom: $input-mb;
  font-size: 13px;
  padding: 0 0.5em;
  line-height: 1.2;
  &-danger {
    color: $brand-danger;
    &::before {
      content: '!';
      display: inline-block;
      vertical-align: text-bottom;
      width: 1.5em;
      line-height: 1.5em;
      border-radius: 50%;
      background: $brand-danger;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      padding-left: 0.15em;
      margin-right: 0.5em;
    }
  }
  &-success {
    color: $brand-success;
  }
}
.hint {
  color: #aaa;
}
.has-error .field {
  border-color: $brand-danger;
}
.has-error,
.alert-danger {
  color: $brand-danger;
}
.form-group {
  padding-top: 4px;
  line-height: 30px;
  .label {
    display: block;
    color: $text-color;
    @include fz(16px);
    b {
      color: $brand-primary;
    }
  }
  .field-box {
    position: relative;
    label {
      display: inline-block;
      vertical-align: top;
      margin: 0 10px 6px 0;
    }
  }
}
.radio-group {
  padding: 8px 1em 1px;
  border: 1px solid $input-border;
  border-radius: 5px;
  margin-bottom: $input-mb;
}
.form-agree {
  margin-top: 0.5em;
}
.form-radio,
.form-check {
  position: relative;
  padding-left: 1.6em;
  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
  input + span {
    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      height: 15px;
      background: no-repeat;
      position: absolute;
      left: 0;
      top: 0.15em;
    }
  }
  input:checked + span {
    &::before {
      background-position: 0 100%;
    }
  }
  &.inline {
    padding-left: 0;
    input + span {
      &::before {
        position: static;
        margin: 0 0.5em 0.15em 0;
      }
    }
  }
}
.form-radio {
  input + span {
    &::before {
      background-image: url(../img/form_radio.png);
    }
  }
}
// .form-check {
//   input + span {
//     &::before {
//       background-image: url(../img/form_check.png);
//     }
//   }
// }
.captcha {
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid $input-border;
  border-radius: 5px;
  text-align: center;
  padding: 1em 0;
  margin: 0.5em auto $input-mb;
  &.has-error {
    border-color: $brand-danger;
  }
  &-box {
    max-width: 320px;
    margin: 0 auto;
    .alert {
      text-align: left;
    }
  }
  .g-recaptcha {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 0 0 2px;
    position: relative;
    background: #f9f9f9;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 4px solid #f9f9f9;
      pointer-events: none;
    }
  }
}
.form-btn-box {
  text-align: center;
  border-top: 2px dashed #D2D2D2;
  margin-top: 2em;
  padding-top: 1.5em;
  .btn-group {
    padding-top: 1em;
  }
}
.search-form {
  @include clearfix;
  .field {
    border-color: $brand-primary;
    border-radius: 0;
    height: 32px;
    margin-bottom: 11px;
    &:focus {
      border-color: $brand-primary3;
    }
  }
  .btn {
    float: right;
    width: 62px;
    height: 28px;
    color: #fff;
    letter-spacing: 0.05em;
    background: $brand-primary;
    &:hover {
      background: $brand-primary3;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .form-box {
    &.has-border {
      border: 2px solid #E5E5E5;
      padding: 25px 38px 38px;
    }
  }
  .form-btn-box {
    @include clearfix;
    .captcha-box {
      float: left;
      width: calc(50% - 15px);
      max-width: none;
    }
    .btn-group {
      float: right;
      padding-top: 64px;
      margin-right: -5px;
    }
  }
  .search-form {
    max-width: 255px;
  }
}
@media (min-width: $screen-md-min) {
  .form-btn-box {
    .btn-group {
      padding-top: 60px;
    }
  }
}
