.msg-box {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#000,0.6);
  padding: 15px;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
  .msg-box-open & {
    z-index: 250;
    pointer-events: visible;
    opacity: 1;
  }
  &-open {
    overflow: hidden;
  }
  .box {
    background: #fff;
    border: 1px solid $brand-primary;
    width: 100%;
    margin: auto;
    max-width: 526px;
    padding: 30px 25px;
    opacity: 0;
    position: relative;
    transform: translateY(25%);
    transition: 0.3s 0.3s;
    .msg-box-open & {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .title {
    color: $brand-primary3;
    @include fz(23,16);
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 0;
    &:after {
      content: '';
      display: block;
      background: $brand-primary4;
      width: 2.5em;
      height: 3 / 24 + 0em;
      margin: 0.8em auto 1em;
    }
  }
  .txt {
    text-align: center;
    letter-spacing: 0.2em;
  }
  .editor {
    border: 1px solid #B5B5B5;
    padding: 12px 18px;
  }
  .btn-box {
    padding-top: 1.5em;
    .btn {
      font-size: 1em;
      font-weight: normal;
    }
  }
}
@media (min-width: $screen-sm-min) {
  .msg-box {
    .box {
      @include fz(16px);
      padding: 45px 60px 50px;
    }
  }
}
