.pagination {
  @include list-reset;
  text-align: center;
  @include fz(15px);
  padding-top: 2em;
  margin: 0 -0.3em;
  li {
    display: inline-block;
    vertical-align: top;
    a, span {
      color: inherit;
      display: block;
      border: 1px solid $brand-primary;
      min-width: 36px;
      height: 38px;
      line-height: 36px;
      padding: 0 0.3em;
      margin: 0.3em;
      border-radius: 4px;
      .ic {
        font-size: 1.1em;
        width: 10px;
        border-bottom: 1px solid #666;
      }
    }
    .dots {
      border-color: transparent;
      min-width: 0;
      padding: 0;
    }
    .prev,
    .next {
      @include txt-hide;
      background: url(../img/pager_arrow.svg);
      border: 0;
      width: 36px;
      transition: none;
      &:hover {
        background-color: transparent;
      }
    }
    .prev {
      background-position: 0 0;
      &:hover {
        background-position: 0 100%;
      }
    }
    .next {
      background-position: 100% 0;
      &:hover {
        background-position: 100% 100%;
      }
    }
  }
  li a:hover,
  li.active span {
    background-color: $brand-primary;
    color: #fff;
    text-decoration: none;
  }
}
@media (min-width: $screen-lg-min) {
}
