
@media screen and (min-width: $screen-sm-min)  {
  .anime {
    visibility: hidden;
    &.anime-run {
      visibility: visible;
    }
  }
  .home-banner .slick-current .title.anime-run,
  .home-banner .slick-current .desc.anime-run,
  .teacher-sect4-txt.anime-run {
    @include fadeInRight($duration: 0.5s, $delay: 0.1s);
  }
  .home-banner .slick-current .desc.anime-run {
    animation-delay: 0.3s;
  }
  .home-intro1-list,
  .about2-sect1-list {
    .item.anime-run {
      @include fadeInUp($duration: 0.5s);
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          animation-delay: #{$i * 0.2 - 0.1}s;
        }
      }
    }
  }
  .about3-sect5-step {
    .item.anime-run {
      @include fadeInRight($duration: 0.5s);
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          animation-delay: #{$i * 0.15 + 0.1}s;
        }
      }
    }
  }
  .home-blog-slider .slick-active,
  .about3-sect4-txt .col {
    .box.anime-run {
      @include fadeIn($duration: 0.5s);
    }
    @for $i from 1 through 3 {
      &:nth-of-type(3n+#{$i}) .box.anime-run {
        animation-delay: #{$i * 0.2 - 0.1}s;
      }
    }
  }
  .home-about-editor .txt.anime-run,
  .editor-set2.txtL .pic.anime-run,
  .editor-set2.txtR .txt.anime-run,
  .contact-info-editor .txt.anime-run {
    @include fadeInRight($duration: 0.5s, $delay: 0.15s);
  }
  .home-about-editor .pic.anime-run {
    @include fadeIn($duration: 0.5s, $delay: 0.3s);
  }
  .editor-set1.txtL.anime-run,
  .editor-set3.txtR.anime-run,
  .editor-set2.txtL .txt.anime-run,
  .editor-set2.txtR .pic.anime-run,
  .contact-info-editor .pic.anime-run {
    @include fadeInLeft($duration: 0.5s, $delay: 0.15s);
  }
  .editor-set1.txtR.anime-run,
  .editor-set3.txtL.anime-run {
    @include fadeInRight($duration: 0.5s, $delay: 0.3s);
  }
  .editor-title.anime-run,
  .editor-quote.anime-run,
  .about1-sect1-txt.anime-run {
    @include fadeInUp($duration: 0.5s, $delay: 0.2s);
  }
  .about1-sect1-txt.anime-run {
    animation-delay: 0.4s;
  }
}
