.floating {
  position: fixed;
  z-index: 50;
  width: 100%;
  right: 0;
  bottom: 0;
  .for-m {
    .list {
      display: table;
      table-layout: fixed;
      width: 100%;
      text-align: center;
      li {
        display: table-cell;
        &:nth-child(2n+1) {
          a {
            background: $brand-primary;
          }
        }
        &:nth-child(2n) {
          a {
            background: $brand-primary4;
          }
        }
        a {
          display: block;
          color: $brand-primary;
          font-weight: bold;
          line-height: 30px;
        }
      }
      .ic {
        display: inline-block;
        vertical-align: middle;
        background: url(../img/floating_m.svg) no-repeat;
        width: 26px;
        height: 26px;
        &.fb {
          background-position: 0 0;
        }
        &.phone {
          background-position: 50% 0;
        }
        &.line {
          background-position: 100% 0;
        }
      }
    }
  }
  .for-pc {
    display: none;
  }
}


@media (min-width: $screen-sm-min) {
  .floating {
    .for-m {
      .list {
        li {
          &:nth-child(2n+1) {
            a {
              &:hover {
                background: darken($brand-primary,10%);
              }
            }
          }
          &:nth-child(2n) {
            a {
              &:hover {
                background: darken($brand-primary4,10%);
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: $screen-md-min) {
  .floating {
    width: auto;
    bottom: 20%;
    right: 5px;
    .for-m {
      display: none;
    }
    .for-pc {
      display: block;
      .list {
        text-align: center;
        a {
          border-radius: 3px;
          color: #fff;
          @include fz(12px);
          font-weight: bold;
          line-height: (19 / 15);
          letter-spacing: 0.03em;
          width: 40px;
          height: 40px;
          padding: 0.5em;
        }
        .txt {
          margin-top: 1em;
        }
        .icon {
          @include txt-hide;
          background-image: url(../img/floating.png);
          background-size: 100% auto;
          &.line {
            background-position: 0 0;
          }
          &.gotop {
            background-position: 0 50%;
            background-color: transparent;
            opacity: 0;
            pointer-events: none;
            .header-fixed & {
              opacity: 1;
              pointer-events: visible;
            }
            &:hover {
            background-position: 0 100%;
            }
          }
        }
        li:nth-child(2n+1) {
          a {
            background-color: $brand-primary3;
          }
        }
        li:nth-child(2n) {
          a {
            background-color: $brand-primary;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min) {
  .floating {
    right: percentage(20 / 1920);
  }
}
