.footer {
  position: relative;
  background: $brand-primary2;
  color: #fff;
  text-align: center;
  padding: 25px 0 55px;
  @include fz(13px);
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
      color: $brand-primary4;
    }
  }
  .for-pc {
    display: none;
  }
  &-title {
    color: #fff;
    @include fz(16,13);
    font-weight: bold;
    &:after {
      content: '';
      display: block;
      background: #fff;
      width: 2.8em;
      height: 1px;
      margin: 0.5em auto 1em;
    }
  }
  .copyright {
    margin: 1em 0 0;
    span {
      display: inline-block;
    }
  }
}


@media (min-width: $screen-sm-min) {
}
@media (min-width: $screen-md-min) {
  .footer {
    padding: 0;
    font-size: 1em;
    .for-m {
      display: none;
    }
    .for-pc {
      display: block;
    }
    &-top {
      padding: 3em 0;
      text-align: left;
    }
    &-logo,
    &-col {
      float: left;
    }
    &-logo {
      width: percentage(144 / 1120);
      margin-right: percentage(51 / 1120);
      padding-top: 4.5em;
    }
    &-content {
      margin-left: percentage(195 / 1120);
    }
    &-col {
      padding: 0 3em;
      width: 30%;
      &.w2 {
        width: 40%;
      }
      .list {
        li {
          margin-bottom: 0.5em;
        }
        .ic {
          display: inline-block;
          vertical-align: text-bottom;
          background: url(../img/footer_info.svg);
          width: 22px;
          height: 22px;
          margin-right: 0.5em;
          position: relative;
          top: 2px;
          &.phone {
            background-position: 0 0;
          }
          &.mail {
            background-position: 0 -22px;
          }
          &.line {
            background-position: 0 -44px;
          }
          &.fb {
            background-position: 0 -66px;
          }
        }
      }
      .site-info {
        @include fz(14,16);
        li {
          margin-bottom: 0.7em;
        }
      }
    }
    &-title {
      @include fz(18,16);
      &:after {
        width: auto;
        height: 2px;
        margin: 0.8em -1em;
      }
    }
    &-bottom {
      background: $brand-primary;
      padding: 0.5em 0;
      @include fz(12px);
      .copyright {
        margin: 0;
      }
    }
  }
}
@media (min-width: $screen-lg-min) {
  .footer {
    &-top {
      @include fz(16px);
    }
  }
}
