.container {
  margin: 0 auto;
  padding-left:  floor(($grid-gutter-width / 2));
  padding-right: ceil(($grid-gutter-width / 2));
  @include clearfix;

  // @media (min-width: $screen-sm-min) {
  //   width: $container-sm;
  // }
  // @media (min-width: $screen-md-min) {
  //   width: $container-md;
  // }
  // @media (min-width: $screen-lg-min) {
  //   width: $container-lg;
  // }
}

.row {
  margin-left:  ceil(($grid-gutter-width / -2));
  margin-right: floor(($grid-gutter-width / -2));
  @include clearfix;
}

@include make-grid-columns;
@include make-grid(xs);
@media (min-width: $screen-sm-min) {
  @include make-grid(sm);
}
@media (min-width: $screen-md-min) {
  @include make-grid(md);
}
@media (min-width: $screen-lg-min) {
  @include make-grid(lg);
}
