.header {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 6px rgba(#000,0.16);
  .container {
    width: auto;
  }
  .site-title {
    font-size: 1em;
    margin: 0;
    padding: 8px 0 7px;
    position: relative;
    z-index: 120;
    .logo {
      @include txt-hide;
      vertical-align: top;
      text-decoration: none;
      background-image: url(../img/logo.svg);
      background-size: contain;
      width: 225 * 0.75 + 0px;
      height: 50 * 0.75 + 0px;
    }
  }
  .follow {
    display: none;
  }
}
.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: 0.3s;
  background: rgba(#000,0.3);
  .nav-open & {
    overflow-y: auto;
    overflow-x: hidden;
    top: 53px;
    bottom: 0;
  }
  &-open {
    overflow: hidden;
  }
  &-toggle {
    position: fixed;
    z-index: 210;
    top: 0;
    right: 10px;
    width: 45px;
    height: 50px;
    .ic-bar {
      display: block;
      background: $brand-primary;
      width: 28px;
      height: 3px;
      margin: -1.5px 0 0 -14px;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: 0.3s;
      &:nth-child(1) {
        transform: translateY(-7px);
      }
      &:nth-child(2) {
        transform: translateY(7px);
      }
    }
    .nav-open & {
      .ic-bar {
        &:nth-child(1) {
          transform: translateY(0) rotate(45deg);
        }
        &:nth-child(2) {
          transform: translateY(0) rotate(-45deg);
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
  &-content {
    background: #fff;
    padding: 24px 0;
    box-shadow: 0 3px 6px rgba(#000,0.16);
  }
  .menu {
    text-align: center;
    > li {
      position: relative;
      margin-bottom: 0.3em;
      > a {
        @include fz(15,14);
        font-weight: bold;
        color: $brand-primary2;
        padding: 0.3em 1em;
      }
      > ul {
        max-height: 0;
        overflow: hidden;
        background: $brand-primary;
        transition: 0.3s ease-in-out;
        > li {
          > a {
            padding: 0.2em 1em;
            color: #fff;
          }
        }
      }
    }
    > li.has-child {
      > a {
        &::after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          margin: 0 -1em 0.15em 0.5em;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 4px 4px 0 4px;
          border-color: $brand-primary2 transparent transparent transparent;
        }
      }
      &.open {
        > a {
          &::after {
            border-width: 0 4px 4px 4px;
            border-color: transparent transparent $brand-primary2 transparent;
          }
        }
        > ul {
          max-height: 1000px;
          box-shadow: 0px 3px 6px rgba(#000, 0.16);
          padding: 0.8em 0;
        }
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .header {
    .site-title {
      .logo {
        transform: opacity 0.3s;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  .nav {
    .menu {
      > li > a:hover,
      > li.current > a {
        color: $brand-primary;
      }
      > li {
        > ul {
          > li > a:hover,
          > li.current > a {
            color: $brand-primary4;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-md-min) {
  .header {
    background: none;
    box-shadow: none;
    .header-fixed & {
      background: rgba(#fff,0.9);
      box-shadow: 1px 1.73px 5px rgba(89, 89, 89, 0.4);
    }
    .container {
      width: 98%;
      max-width: none;
    }
    .site-title {
      float: left;
      padding: 15px 0;
      .logo {
        width: 225px;
        height: 50px;
      }
    }
    .follow {
      display: block;
      float: right;
      padding: 16px 0;
      li {
        padding: 2px;
        a {
          @include txt-hide;
          background-image: url(../img/header_follow.png);
          width: 42px;
          height: 42px;
          &.line {
            background-position: 0 0;
          }
          &.fb {
            background-position: 100% 0;
          }
        }
      }
    }
  }
  .nav {
    margin-left: 270px;
    margin-right: 130px;
    &,
    .nav-open & {
      display: block;
      position: static;
      background: none;
      overflow: visible;
      transition: none;
    }
    &-open {
      overflow: auto;
    }
    &-toggle {
      display: none;
    }
    &-content {
      padding: 10px 0 0;
      background: none;
      box-shadow: none;
    }
    .menu {
      @include clearfix;
      > li {
        float: left;
        width: 20%;
        position: relative;
        > a {
          @include fz(16px);
          padding: 1em;
          &:hover {
            color: $brand-primary;
          }
        }
        > ul {
          position: absolute;
          left: 50%;
          top: 100%;
          width: 10em;
          margin-left: -5em;
          @include fz(15px);
          > li {
            > a {
            }
          }
        }
      }
      > li.has-child {
        > a {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min) {
  .header {
    .site-title {
      margin-left: 35px;
    }
    .follow {
      margin-right: 55px;
    }
  }
  .nav {
    margin-left: 310px;
    margin-right: 200px;
    .menu {
      width: 100%;
      max-width: 600px;
      float: right;
    }
  }
}
