.wrapper {
  padding-top: 53px;
}
.container {
  width: 92%;
  max-width: 1150px;
}
.no-data {
  text-align: center;
  padding: 2em 0;
}
.hr {
  border: 0;
  border-top: 2px solid #E5E5E5;
  margin: 1em 0;
}
.main {
  &-title {
    color: $brand-primary3;
    @include fz(20px);
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: (36 / 24);
    text-align: center;
    margin: 0 0 1.5em;
    &:after {
      content: '';
      display: block;
      background: $brand-primary4;
      width: 2.5em;
      height: 3 / 24 + 0em;
      margin: 0.8em auto 0;
    }
    small {
      display: block;
      color: $brand-primary;
      @include fz(18,23);
    }
    &.no-deco {
      &:after {
        display: none;
      }
    }
  }
  &-content {
    padding: 3em 0;
    &.no-pt {
      padding-top: 0;
    }
  }
  .slick-prev,
  .slick-next {
    @include btn-reset;
    @include txt-hide;
    position: absolute;
    z-index: 10;
    top: 50%;
    background: url(../img/slider_arrow.png) no-repeat;
    background-size: 200%;
    width: 30px;
    height: 60px;
    margin-top: -30px;
  }
  .slick-prev {
    left: -30px;
    background-position: 0 0;
    &:hover {
      background-position: 0 100%;
    }
  }
  .slick-next  {
    right: -30px;
    background-position: 100% 0;
    &:hover {
      background-position: 100% 100%;
    }
  }
  .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1em;
    @include list-reset;
    text-align: center;
    padding: 0 1em;
    li {
      display: inline-block;
      vertical-align: middle;
      button {
        @include btn-reset;
        @include txt-hide;
        width: 16px;
        height: 16px;
        position: relative;
        &:before {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -3px 0 0 -3px;
        }
      }
    }
    li.slick-active {
      button {
        &:before {
          background: $brand-primary4;
        }
      }
    }
  }
}
.detail-share {
  text-align: right;
  margin-bottom: 1em;
  padding: 0.5em 0;
  > * {
    display: inline-block;
    vertical-align: middle;
  }
  .tag {
    color: $brand-primary;
    font-weight: bold;
    margin-right: 0.5em;
  }
  .a2a_default_style a {
    margin-left: 0.5em;
  }
}
.detail-pager {
  padding-top: 4em;
  @include clearfix;
  .tag {
    display: inline-block;
    @include fz(15px);
    border: 1px solid $brand-primary5;
    color: $brand-primary5;
    line-height: 28px;
    border-radius: 6px;
    padding: 0 1em;
  }
  .txt {
    display: block;
    color: #656565;
    line-height: (20 / 14);
    letter-spacing: 0.2em;
    padding-top: 0.8em;
  }
  .prev {
    text-align: left;
    float: left;
  }
  .next {
    text-align: right;
    float: right;
  }
  .prev,
  .next {
    width: 46%;
    white-space: normal;
    &:hover {
      color: $text-color;
      font-weight: bold;
      .tag {
        color: $text-color;
        background: $brand-primary4;
        border-color: $brand-primary4;
      }
    }
  }
  .prev .tag:before,
  .next .tag:after {
    content: '';
    display: inline-block;
    vertical-align: text-bottom;
    background: url(../img/page_control_arrow.svg) no-repeat;
    width: 12px;
    height: 18px;
  }
  .prev .tag:before {
    background-position: 0 0;
    margin-right: 0.4em;
  }
  .next .tag:after {
    background-position: 100% 0;
    margin-left: 0.4em;
  }
  .prev:hover .tag:before {
    background-position: 0 100%;
  }
  .next:hover .tag:after {
    background-position: 100% 100%;
  }
}

@media (min-width: $screen-sm-min) {
  .main {
    &-title {
      @include fz(24px);
      margin-bottom: 2em;
    }
    &-content {
      padding: 4em 0 7em;
    }
    .slick-dots {
      li {
        button {
          width: 30px;
          height: 30px;
          &:before {
            width: 12px;
            height: 12px;
            margin: -6px 0 0 -6px;
          }
        }
      }
    }
  }
  .detail-pager {
    padding-top: 6em;
  }
}
@media (min-width: $screen-md-min) {
  .wrapper {
    padding-top: 0;
  }
  .main {
    &-content {
      padding: 150px 0 10em;
    }
    .slick-prev,
    .slick-next {
      width: 40px;
      height: 80px;
      margin-top: -40px;
    }
    .slick-prev {
      left: -40px;
    }
    .slick-next {
      right: -40px;
    }
  }
}
@media (min-width: $screen-lg-min) {
  .main {
  }
}
