.side {
  padding-top: 4em;
  &-sect {
    margin-bottom: 2em;
  }
  &-title {
    display: block;
    background: url(../img/side_title_bg.png) no-repeat;
    width: 145px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    @include fz(18px);
    font-weight: bold;
    letter-spacing: 0.2em;
    padding: 0 18px;
    margin-bottom: 1em;
  }
  &-nav {
    padding-left: 0.5em;
    li {
      margin-bottom: 0.5em;
    }
    li.current {
      a {
        color: $brand-primary;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .side {
    padding-top: 0;
    float: right;
    width: 200px;
    &-nav {
      li {
        a {
          &:hover {
            color: $brand-primary;
          }
        }
      }
    }
  }
  .has-side .content {
    float: left;
    width: calc(100% - 250px);
  }
}
@media (min-width: $screen-md-min) {
  .side {
    width: 315px;
  }
  .has-side .content {
    width: calc(100% - 375px);
  }
}
@media (min-width: $screen-lg-min) {

}
