@import "helpers/variables";
@import "helpers/mixins";
// @import "helpers/normalize";
// @import "helpers/basic";
// @import "helpers/placeholders";

// @import "components/list";
// @import "components/buttons";

// @import "layouts/grid";
@import "layouts/editor_default";

@import "pages/editor";

body {
  background: #fff;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
img {
  max-width: 100%;
}
.embed-responsive {
  img.cke_iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
