body {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
}
::-moz-selection {
	color: #ffffff;
	background-color: #cd381c;
}

::selection {
	color: #ffffff;
	background-color: #cd381c;
}

::-moz-selection {
	color: #ffffff;
	background-color: #cd381c;
}
img {
  max-width: 100%;
  height: auto !important;
}
.wrapper {
  overflow: hidden;
}
.editor img {
  height: auto !important;
}
.navbar-brand>img {
  max-width: 200px;
}
.editor ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.editor ul li {
  list-style-type: disc;
}
.editor ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.editor ol li {
  list-style-type: decimal;
}
.one-line {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.multi-line-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.multi-line-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: #013c66;
}
.recent-pic {
  flex: 70px 0 0;
}
.recent-pic + div {
  max-width: calc(100% - 70px - 1rem);
}

.floating {
  position: fixed;
  z-index: 300;
  top: 50%;
  right: 3px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.floating.show {
  opacity: 1;
  pointer-events: visible;
}
.floating ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.floating a {
  display: inline-block;
  vertical-align: top;
  padding: 0.25em;
}
.floating a img {
  border-radius: 50%;
  box-shadow: 0 0 5px #666;
}
.captcha {
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 2px 0 0 2px;
}
.captcha.invalid {
  border-color: #cd381c;
}
.error-msg {
  color: #cd381c;
  font-size: 14px;
}

.txt-color1 {
	color: #cd381c !important;
}
.txt-color2 {
	color: #de7437 !important;
}
.txt-color3 {
	color: #f1b22f !important;
}
.header_white .sf-menu > li > a {
  font-size: 16px;
}
.header-meta a {
  display: inline-block;
  width: 40px;
}
.header-meta img {
  vertical-align: top;
}
#toTop {
  background: #de7437;
}
.ls h1, .ls h2, .ls h3, .ls h4, .ls h5, .ls h6 {
  color: #595656;
}
.section_header {
  font-size: 45px;
}
.section_header.fontsize_30 {
  font-size: 30px;
}
.section_header.fontsize_36 {
  font-size: 36px;
}
.ls {
  color: #595656;
}
.ls a.color-inherit {
  color: inherit;
}
.ls a.color-inherit:hover {
  color: #cd381c;
}
.bg-light {
  background: #fff7ed;
}
.bg-gray {
  background: #f5f5f5;
}
.cs.light-gray {
  background-color: #cecac8;
}
.background_cover.ds.color:after, .parallax.ds.color:after {
  background-color: #321900;
}
.teaser_icon b {
  font-size: 20px;
}
.panel-color2 .panel-body {
  border-color: #de7437;
}
.panel-color2 .panel-heading .panel-title > a {
  background: #de7437;
}
.panel-color2 .panel-heading .panel-title > a.collapsed:after {
  color: #de7437;
}

.panel .panel-heading .panel-title > a.collapsed {
  background: #eaeaea;
}

.color-white {
  color: #fff !important;
}

.header-meta a.w-auto,
.side-media-links a.w-auto {
  width: auto;
}

.header-meta i {
  width: 1em;
  text-align: center;
  display: inline-block;
}

.form-control:-moz-placeholder {
	color: #595656;
	font-style: normal;
	font-size: 16px;
}

.form-control::-moz-placeholder {
	color: #595656;
	font-style: normal;
	font-size: 16px;
}

.form-control:-ms-input-placeholder {
	color: #595656;
	font-style: normal;
	font-size: 16px;
}

.form-control::-webkit-input-placeholder {
	color: #595656;
	font-style: normal;
	font-size: 16px;
}

.page_footer .entry-title {
  margin: 0;
  color: inherit;
}
.page_footer .entry-title a,
.page_footer a {
  color: inherit;
}
.page_footer a:hover {
  color: #de7437;
}
.widget_recent_entries li + li {
  margin-top: 15px;
}
.breadcrumb > li.active {
  background-color: #f1b22f;
}
.page_breadcrumbs .page-heading {
  display: inline;
  font-size: 24px;
  font-weight: 700;
  word-wrap: break-word;
}
.page_breadcrumbs .page-heading + .breadcrumb {
  margin-top: 10px;
}
.item-media .media-meta.pos-static {
  position: static;
}
.media-links.color3:before {
  background-color: rgba(241,178,48,25%);
}

.editor .list2 ul,
.editor ul.list2 {
  list-style: none;
  padding-left: 20px;
}
.editor .list2.checklist {
  padding-left: 30px;
}
.editor .list2 ul li,
.editor ul.list2 li {
  list-style: none;
}

.side-media-links .a2a_kit {
  display: inline-block;
  vertical-align: middle;
}
.side-media-links .a2a_kit a {
  width: auto;
  height: auto;
}
.side-media-links .a2a_kit .a2a_svg {
  border-radius: 50%;
  padding: 3px;
}
.price.fontsize_20 {
  font-size: 20px;
  line-height: 1.25;
}
.media-meta.jcc {
  justify-content: center;
}

article.post + article.post, .search article + article, .archive article + article {
  margin-top: 50px;
}

.with_border .item-media {
  position: relative;
}
.with_border .item-media::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
}
.with_border .item-media:hover::before {
  opacity: 0.5;
}
.with_border.color_border .item-media::before {
  background: #cd381c;
}
.with_border.color2_border .item-media::before {
  background: #de7437;
}
.with_border.color3_border .item-media::before {
  background: #f1b22f;
}

@media only screen and (max-width: 1200px) {
  .logo {
    padding: 20px 0;
  }
  .logo img {
    max-width: 180px;
  }
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 767px) {
  .logo img {
    max-width: 150px;
  }
}
@media only screen and (max-width: 480px) {
}
@media only screen and (min-width: 768px) {
  .text-sm-right {
    text-align: right;
  }
}
@media only screen and (min-width: 992px) {
  .page_breadcrumbs .page-heading {
    font-size: 32px;
  }
  .page_breadcrumbs .page-heading + .breadcrumb {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1200px) {
}