.editor-fast-sect:target {
  padding-top: 77px;
  margin-top: -77px;
}

.editor-fast-nav1,
.editor-fast-nav2,
.editor-fast-sect {
  font-family: '微軟正黑體';
  font-size: 16px;
}

.editor-fast-nav1 {
  border: 2px solid;
  padding: 10px 20px;
  border-radius: 20px;
  padding: 2px 22px;
  margin: 30px 0 50px;
}

.editor-fast-nav1 .nav-list,
.editor-fast-nav2 .nav-list,
.editor-fast-nav3 .nav-list,
.editor-list1 ul,
.editor-list2 ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.editor-fast-nav1 .nav-list li,
.editor-fast-nav2 .nav-list li,
.editor-fast-nav3 .nav-list li,
.editor-list1 ul li,
.editor-list2 ul li  {
  list-style-type: disc;
}

.editor-fast-nav1 .nav-heading,
.editor-fast-nav2 .nav-heading {
  font-family: '微軟正黑體';
  font-size: 30px;
  font-weight: 400;
  margin: 10px 0;
}

.editor-fast-nav1 .nav-list a {
  font-size: 18px;
}

.editor-fast-nav1 .nav-list a:hover,
.editor-fast-nav2 .nav-list a:hover,
.editor-fast-nav3 .nav-list a:hover {
  text-decoration: underline;
}

.editor-fast-nav2 {
  border: 3px solid;
  border-width: 2px 2px;
  padding: 2px 22px;
  margin: 30px 0 50px;
  width: 100%;
}

.editor-fast-nav2 .nav-list {
  padding-left: 20px !important;
}

.editor-fast-nav2 .nav-list li {
  list-style: circle;
  margin: 15px auto;
}

.editor-fast-nav2 .nav-list a {
  font-weight: bold;
}


.editor-fast-nav2 .nav-heading {
  font-weight: 700 !important;
  text-align: center;
  line-height: 27px;
  margin: 14px 0 15px 0;
  padding: 5px 10px 7px 10px;
  border: 2px solid;
}

.editor-fast-nav3 {
  padding: 2px 20px;
  margin: 70px auto 50px;
  display: block;
  border: 2.5px solid;
  position: relative;
  font-size: 18px;
}

.editor-fast-nav3 .nav-heading {
  line-height: 34px;
  font-size: 20px;
  color: #fff !important;
  font-weight: 700 !important;
  letter-spacing: 1.2px;
  text-align: left;
  position: absolute;
  width: 50%;
  left: -2.5px;
  top: -64px;
  padding: 3px 19px;
  margin: 22px 0px 5px 0px;
}

.editor-fast-nav3 .nav-list {
  margin: 10px 0 0 !important;
}

.editor-fast-nav3 .nav-list li {
  list-style: circle;
  margin: 10px 0;
}


.editor-fast-sect {
  margin-bottom: 2.5em;
}

.editor-fast-sect .sect-heading {
  font-family: '微軟正黑體';
  font-size: 24px;
  font-weight: 700 !important;
}

.editor-list1,
.editor-list2 {
  border: 2px solid;
  border-radius: 10px;
  padding: 6px 14px 1px 13px;
  margin: 15px 9px 1px 1px;
  font-size: 18px;
  list-style-type: none;
}

.editor-list2 li {
  margin: 15px 0;
}

.editor-tmp-table1 {
  margin: 14px 0px 1px 0px;
  border: 2px solid;
}

.editor-tmp-table1 th {
  padding: 15px 20px;
  width: 17%;
  border-bottom: 2px solid #f1b22f;
  position: relative;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}

.editor-tmp-table1 th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 10px);
  right: -10px;
  border-left: 10px solid #de7437;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.editor-tmp-table1 td {
  padding: 17px 28px 17px 19px;
  border-bottom: 2px solid #f1b22f;
  color: #000000;
}

.editor-tmp-table2 {
  margin: 14px 0px 1px 0px;
  border-collapse: collapse;
  border-spacing: 0px;
  border: 2px solid #FFFFFF;
}

.editor-tmp-table2 th {
  padding: 15px 20px;
  width: 17%;
  border-bottom: 2px solid #FFFFFF;
  position: relative;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}

.editor-tmp-table2 td {
  padding: 15px 20px;
  border-bottom: 2px solid #FFFFFF;
  color: #000000;
}

.editor-tmp-table3 {
  margin: 14px 0px 1px 0px;
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 1px #000;
  border-radius: 5px;
}

.editor-tmp-table3 th {
  padding: 15px 20px;
  border-bottom: 1px solid #364A58;
  position: relative;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  width: 17%;
}

.editor-tmp-table3 td {
  padding: 15px 20px;
  border-bottom: 1px solid #000000;
  color: #000000;
}

.editor-tmp-table4 {
  margin: 14px 0px 1px 0px;
  border-collapse: collapse;
}

.editor-tmp-table4 thead th {
  padding: 8px 20px;
  color: #FFFFFF;
  border: 1px solid;
  font-size: 18px;
  text-align: center;
}

.editor-tmp-table4 tbody th {
  color: #FFFFFF;
  padding: 20px;
  background-color: #e98b55;
  border: 1px solid;
  font-size: 18px;
  text-align: center;
}

.editor-tmp-table4 tbody td {
  padding: 20px;
  border: 1px solid;
  color: #000000;
}

.editor-tmp-table5 {
  margin: 14px 0px 1px 0px;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.editor-tmp-table5 thead th {
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  padding: 8px 20px;
  border: 1px solid #cd381c;
}

.editor-tmp-table5 tbody td {
  font-size: 16px;
  border: 1px solid;
  padding: 5px 28px 5px 10px;
  color: #000000;
  text-align: center;
}



.editor-list1,
.editor-list2 {
  color: #111;
}

.editor-list1,
.editor-list2,
.editor-fast-nav1,
.editor-fast-nav2,
.editor-fast-nav3 {
  clear: both;
}
.editor-fast-nav1,
.editor-fast-nav2,
.editor-fast-nav3,
.editor-fast-nav2 .nav-heading {
  border-color: #efbf5c;
}
.editor-list1,
.editor-list2 {
  border-color: #efbf5c;
}
.editor-tmp-table1 {
  border-color: #f1b22f;
}

.editor-fast-nav1 {
  box-shadow: 0px 0px 5px #fff7ed;
}

.editor-fast-nav2 {
  box-shadow: 3px 3px #fff7ed;
}

.editor-fast-nav2 .nav-heading {
  box-shadow: 3px 3px 1px 0px #D1DFE8;
  background: linear-gradient(200deg, #efbf5c, #f6910000, #efbf5c);
}

.editor-fast-nav2 .nav-list,
.editor-fast-nav3 .nav-list,
.editor-fast-nav1 .nav-list a,
.editor-fast-nav2 .nav-list a,
.editor-fast-nav3 .nav-list a {
  color: #de7437;
}
.editor-fast-sect .sect-heading {
  color: #efbf5c;
}
.editor-fast-sect .sect-heading {
  color: #cd381c;
}
.editor-fast-nav1 .nav-heading,
.editor-fast-nav2 .nav-heading {
  color: #cd381c;
}

.editor-fast-nav1 .nav-list a:hover,
.editor-fast-nav2 .nav-list a:hover {
  color: #efbf5c;
}

.editor-fast-nav3 .nav-heading {
  background-color: #efbf5c;
}
.editor-tmp-table1 th,
.editor-tmp-table2 th,
.editor-tmp-table3 th,
.editor-tmp-table4 thead th,
.editor-tmp-table5 thead th {
  background-color: #de7437;
}

.editor-list1,
.editor-list2,
.editor-tmp-table1,
.editor-tmp-table2,
.editor-tmp-table3,
.editor-tmp-table5 tbody tr:nth-child(2n) {
  background-color: #fff7ed;
}

.editor-tmp-table4 thead th,
.editor-tmp-table4 tbody th,
.editor-tmp-table4 tbody td,
.editor-tmp-table5 tbody td {
  border-color: #cd381c;
}

@media (max-width: 1023px) {
  .editor-fast-sect:target {
    padding-top: 60px;
    margin-top: -60px;
  }
}
@media (max-width: 767px) {
  .editor-fast-nav3 .nav-heading {
    width: 100%;
    font-size: 18px;
  }
  .editor-tmp-table-wrap {
    overflow-x: auto;
  }
  .editor-tmp-table-wrap table {
    min-width: 600px;
  }
  .editor-tmp-table-wrap .editor-tmp-table4 {
    min-width: 400px;
  }
}